.result .jsonholder {
    position: relative;
    min-height: 200px;
    height: 300px
}

.result .jsonholder .ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -7px;
    left: 0;
    background-color: #333;
    border-radius: 0 0 3px 3px;
    text-align: center
}

.result .jsonholder .ui-resizable-s:before {
    content: "=";
    font-weight: 400;
    font-size: 12px;
    line-height: 6px;
    color: #fff
}
.json{
    overflow-x: auto;
    overflow-y: scroll;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    padding: 6px 12px;
    color: #555
}
.json {
    height: 100%;
    width: 100%;
    -webkit-border-radius: 3px 3px 0 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px 3px 0 0;
    -moz-background-clip: padding;
    border-radius: 3px 3px 0 0;
    background-clip: padding-box
}
.json {
    padding: 40px
}
.json {
    position: relative;
    top: 2px
}
.json {
    font-family: "Ubuntu Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    border-width: 0
}
.json  {
    color: #666
}
.json {
    font-weight: 700;
    color: #333
}

.ui-resizable {
    position: relative
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0
}